body{
  background : url("../img/bkg.jpg");
}
.form-login{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:920px;
  background:#2196F3;  
}
.login-part{
  display:inline-block;  
  padding : 20px 35px;
  width:49%;
}
.center-align{
  color: white;
  transform:translate(0,-60%);
}
@media only screen and (max-width: 720px){
  .form-login{
    width:100%;
  }
}